{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Driver</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body style="background: #56baed;">

    <section class="vh-150 gradient-custom" >
      <div class="p-md-5 py-5 h-150">
        <div class="row justify-content-center align-items-center h-150">
          <div class="col-8 col-lg-8 col-xl-8">
            <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
              <div class="card-body p-4 p-md-5">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Edit Driver {{ driver.name }} {{ driver.last_name }}</h3>
                <form method="POST" id="form" class="needs-validation" novalidate>
                    {% csrf_token %}

                  <div class="row">

                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                        {{ form.email.as_hidden }}
                        <input type="email" name="email" value="{{ driver.email }}" id="email" class="form-control form-control-lg" required/>
                        <label class="form-label" for="email">Email</label>
                          <div class="invalid-feedback">
                          Please populate the field with correct data!
                        </div>
                      </div>
                    </div>


                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                        {{ form.name.as_hidden }}
                        <input type="text" name="name" value="{{ driver.name }}" id="name" class="form-control form-control-lg" required/>
                        <label class="form-label" for="name">First Name</label>
                          <div class="invalid-feedback">
                          Please populate the field with correct data!
                        </div>
                      </div>
                    </div>


                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                        {{ form.last_name.as_hidden }}
                        <input type="text" name="last_name" value="{{ driver.last_name }}" id="last_name" class="form-control form-control-lg" required/>
                        <label class="form-label" for="last_name">Last Name</label>
                          <div class="invalid-feedback">
                          Please populate the field with correct data!
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="row">

                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                        {{ form.phone.as_hidden }}
                        <input type="tel" name="phone" value="{{ driver.phone }}" id="phone" class="form-control form-control-lg" required/>
                        <label class="form-label" for="phone">Phone</label>
                          <div class="invalid-feedback">
                          Please populate the field with correct data!
                        </div>
                      </div>
                    </div>


                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                        {{ form.address.as_hidden }}
                        <input type="text" name="address" value="{{ driver.address }}" id="address" class="form-control form-control-lg" required/>
                        <label class="form-label" for="address">Address</label>
                          <div class="invalid-feedback">
                          Please populate the field with correct data!
                        </div>
                      </div>
                    </div>



                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                        {{ form.postcode.as_hidden }}
                        <input type="text" name="postcode" value="{{ driver.postcode }}" id="postcode" class="form-control form-control-lg" required/>
                        <label class="form-label" for="postcode">Postcode</label>
                          <div class="invalid-feedback">
                          Please populate the field with correct data!
                        </div>
                    </div>
                  </div>
                  </div>

                  <div class="row">

                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                        {{ form.license_number.as_hidden }}
                        <input type="number" name="license_number" value="{{ driver.license_number }}" id="license_number" class="form-control form-control-lg" required/>
                        <label class="form-label" for="license_number">License Number</label>
                          <div class="invalid-feedback">
                          Please populate the field with correct data!
                        </div>
                      </div>
                    </div>


                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                        {{ form.LN_expiration_date.as_hidden }}
                        <input type="date" name="LN_expiration_date" value="{{ driver.LN_expiration_date|date:"Y-m-d" }}" id="LN_expiration_date" class="form-control form-control-lg" required/>
                        <label class="form-label" for="LN_expiration_date">License Number Expiration Date</label>
                          <div class="invalid-feedback">
                          Please populate the field with correct data!
                        </div>
                      </div>
                    </div>


                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                        {{ form.NI.as_hidden }}
                        <input type="text" name="NI" value="{{ driver.NI }}" id="NI" class="form-control form-control-lg" required/>
                        <label class="form-label" for="NI">NI</label>
                          <div class="invalid-feedback">
                          Please populate the field with correct data!
                        </div>
                      </div>
                    </div>

                  </div>


                  <div class="row">

                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                        {{ form.birth_date.as_hidden }}
                        <input type="date" name="birth_date" value="{{ driver.birth_date|date:"Y-m-d"  }}" id="birth_date" class="form-control form-control-lg" required/>
                        <label class="form-label" for="birth_date">Birth Date</label>
                          <div class="invalid-feedback">
                          Please populate the field with correct data!
                        </div>
                      </div>
                    </div>


                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                        {{ form.status.as_hidden }}
                          <select class="select form-control form-control-lg" name="status">
                              {% if driver.status == 'Active' %}
                                <option value="Active" selected>Active</option>
                                <option value="Inactive">Inactive</option>
                              {% else %}
                                <option value="Active">Active</option>
                                <option value="Inactive" selected>Inactive</option>
                              {% endif %}
                          </select>
                        <label class="form-label" for="status">Status</label>
                      </div>
                    </div>


                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                        {{ form.notes.as_hidden }}
                        <input type="text" name="notes" id="notes" value="{{ driver.notes }}" class="form-control form-control-lg"/>
                        <label class="form-label" for="notes">Notes</label>
                          <div class="invalid-feedback">
                          Please populate the field with correct data!
                        </div>
                      </div>
                    </div>
                  </div>


                {% for message  in messages  %}
                        <p class="alert alert-danger">{{ message  }}</p>
                {% endfor %}

                  <div class="float-left">
                      <a class="btn btn-primary btn-lg" href="/drivers">Cancel</a>
                  </div>
                  <div class="float-right">
                    <input class="btn btn-primary btn-lg" type="submit" value="Save" />
                  </div>

                </form>


              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script>
        $(document).ready(function() {
            $('.js-example-basic-multiple').select2();
        });

        $(document).ready(function() {
              var forms = document.querySelectorAll('.needs-validation')

              Array.prototype.slice.call(forms)
                .forEach(function (form) {
                  form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                      event.preventDefault()
                      event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                  }, false)
                })



        });

        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });

    </script>
    <!--
        $('#form').one('submit', function() {
            $(this).find('input[type="submit"]').attr('disabled','disabled');
        });-->
    <style>
        .gradient-custom {
          /* fallback for old browsers */
          background: #56baed;

          /* Chrome 10-25, Safari 5.1-6 */
          background: -webkit-linear-gradient(to bottom right, #56baed, #56baed);

          /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          background: linear-gradient(to bottom right,#56baed, #56baed)
        }

        .card-registration .select-input.form-control[readonly]:not([disabled]) {
          font-size: 1rem;
          line-height: 2.15;
          padding-left: .75em;
          padding-right: .75em;
        }
        .card-registration .select-arrow {
          top: 13px;
        }
    </style>
</body>
</html>