{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vehicles</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

</head>
<body>
    <div class="card">
      <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
        Vehicles
      </h3>
      <div class="card-body">
        <div id="table" class="table-editable">

          <span class="table-add float-left mb-3 mr-2">
              <a href="/home" class="btn btn-primary">Home</a>
          </span>
          <span class="table-add float-right mb-3 mr-2">
              <a href="/add_vehicle" class="btn btn-primary">Add Vehicle</a>
          </span>
          <br>
          <br>
          <br>

            <form method="POST" id="form2">
                {% csrf_token %}
              <div style="padding-left: 20px" class="row">
                  <div class="col-md-2 mb-2"></div>
                        <div class="col-md-2 mb-2">
                              <div class="form-outline">
                                <input type="text" name="plate" class="form-control"  value="" style="width: 100%" />
                                <label class="form-label" for="plate">Plate</label>
                              </div>
                        </div>

                        <div class="col-md-1 mb-1">
                            <button type="submit" class="btn btn-success" name="action" value="plate" >Search</button>
                        </div>
                        <div class="col-md-2 mb-2">
                              <div class="form-outline">
                                  <select class="form-control" style="width: 100%" name="date_type" >
                                    <option value="MOT">MOT</option>
                                    <option value="PCO">PCO</option>
                                    <option value="ROAD TAX">ROAD TAX</option>
                                  </select>
                                <label class="form-label" for="date_type">Select</label>
                              </div>
                        </div>

                        <div class="col-md-2 mb-2">
                              <div class="form-outline">
                                <input type="text" name="daterange" class="form-control"  value="" style="width: 100%" />
                                <label class="form-label" for="daterange">Date</label>
                              </div>
                        </div>
                        <div class="col-md-1 mb-1">
                            <button type="submit" class="btn btn-success" name="action" value="date" >Search</button>
                        </div>
                        <div class="col-md-1 mb-1">
                            <a href="/vehicles" class="btn btn-success">Reset</a>
                        </div>
              </div>

            </form>

          <table id="sortTable" class="table table-bordered table-responsive table-striped text-center">
            <thead>
              <tr>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Actions</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Plate</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Registered Company Name</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Owner Name</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Make</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Model</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Color</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Status</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Rent</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Notes</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">LOGBOOK First Date of Registration</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">PCO Expiration Date</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">MOT Expiration Date</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Road Tax Expiration Date</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Cylinder Capacity</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Fuel Type</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Year</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Mileage</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Value</th>
              </tr>
            </thead>
            <tbody id="myTable">
                {% for vehicle in vehicles %}
                    {% if vehicle.id in total %}
                    <tr style="background-color: #FFFF99">
                    {% else %}
                    <tr>
                    {% endif %}
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">
                            <a href="{% url 'view_vehicle' vehicle.id %}" class="btn-sm btn-success">View Details</a>
                            <a href="{% url 'delete_vehicle' vehicle.id %}" class="btn-sm btn-danger">Delete</a>
                        </td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ vehicle.plate }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ vehicle.registered_company_name }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ vehicle.owner_name }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ vehicle.make }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ vehicle.model }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ vehicle.color }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ vehicle.status }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ vehicle.rent }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ vehicle.notes }}</td>
                        {% if vehicle.id in logbook %}
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%; background-color: #FF6666">{{ vehicle.LOGBOOK_first_date_of_registration }}</td>
                        {% else %}
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ vehicle.LOGBOOK_first_date_of_registration }}</td>
                        {% endif %}
                        {% if vehicle.id in pco %}
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;background-color: #FF6666">{{ vehicle.pco_expiration_date }}</td>
                        {% else %}
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ vehicle.pco_expiration_date }}</td>
                        {% endif %}
                        {% if vehicle.id in mot %}
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;background-color: #FF6666">{{ vehicle.mot_expiration_date }}</td>
                        {% else %}
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ vehicle.mot_expiration_date }}</td>
                        {% endif %}
                        {% if vehicle.id in road %}
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;background-color: #FF6666">{{ vehicle.road_tax_expiration_date }}</td>
                        {% else %}
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ vehicle.road_tax_expiration_date }}</td>
                        {% endif %}
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ vehicle.cylinder_capacity }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ vehicle.fuel_type }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ vehicle.year }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ vehicle.mileage }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ vehicle.value }}</td>
                      </tr>
                {% endfor %}
            </tbody>
            </table>


            </div>
          </div>
    </div>


    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    </script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js">
    </script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


    <script>

        $(document).ready(function() {
            $('.js-example-basic-multiple').select2();

          $('input[name="daterange"]').daterangepicker({
            opens: 'left'
          }, function(start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
          });

        });
    </script>
    <script>



        $('#form').one('submit', function() {
            $(this).find('input[type="submit"]').attr('disabled','disabled');
        });

        $('#sortTable').DataTable();
        $('#sortTable2').DataTable();
    </script>
</body>
</html>