{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>owner</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

</head>
<body>
    <div class="card">
      <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
        owner {{ owners.0.plate }}
      </h3>
      <div class="card-body">
        <div id="table" class="table-editable">

          <span class="table-add float-left mb-3 mr-2">
              <a href="/home" class="btn btn-primary">Home</a>
          </span>

          <br>
          <br>
          <br>

          <table class="table table-bordered table-responsive table-striped text-center">
            <thead>
              <tr>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Name</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Start Date</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">End Date</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Amount Due</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Amount Paid</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Balance Outstanding</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Actions</th>
              </tr>
            </thead>
            <tbody id="myTable">
                {% for owner in owners %}
                    <tr>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ owner.name }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ owner.start }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ owner.end }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ owner.amount_due }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ owner.amount_paid }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ owner.balance }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">
                            <a href="{% url 'edit_owner' owner.id %}" class="btn-sm btn-success">Edit</a>
                        </td>
                      </tr>
                {% endfor %}
            </tbody>
            </table>

            <hr class="mb-4">

            <div class="row">
                <div class="col-8 col-lg-8 col-xl-8">
                    <br>
                    <div class="row justify-content-center">
                        <h3>Documents</h3>
                    </div>
                    <br>
                    <table class="table table-bordered table-responsive table-striped text-center">
                    <thead>
                      <tr>
                        <th class="text-center" style="white-space: nowrap;width: 1%;">Name</th>
                        <th class="text-center" style="white-space: nowrap;width: 1%;">Path</th>
                        <th class="text-center" style="white-space: nowrap;width: 1%;">Action</th>
                      </tr>
                    </thead>
                    <tbody id="myTable">
                        {% for document in documents %}
                            <tr>
                                <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ document.file_name }}</td>
                                <td class="pt-3-half" style="white-space: nowrap;width: 1%;"><a href="{% url 'download' document.doc %}">{{ document.doc }}</a></td>
                                <td class="pt-3-half" style="white-space: nowrap;width: 1%;">
                                    <a href="{% url 'delete_ownerDoc' document.owner_account_id %}" class="btn-sm btn-danger">Remove</a>
                                </td>
                              </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
                <div class="col-4 col-lg-4 col-xl-4">
                    <form method="POST" enctype ="multipart/form-data">
                        {% csrf_token %}
                        {{ form.owner_account_id.as_hidden }}
                        <input type="text" name="owner_account_id" id="owner_account_id" value="{{ owners.0.id }}" hidden required/>

                        <br>
                        <div class="row justify-content-center">
                            <h3>Add new Document</h3>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-6 col-lg-6 col-xl-6">
                                            {{ form.file_name.as_hidden }}
                                            <label class="form-label" for="file_name">File Name:</label>
                                            <input type="text" name="file_name" id="file_name" class="form-control" required/>
                            </div>

                            <div class="col-6 col-lg-6 col-xl-6">
                                {{ form.doc.as_hidden }}
                                <label class="form-label" for="doc">Select File:</label>
                                <input type="file" name="doc" id="doc" class="form-control" required/>
                            </div>
                        </div>
                        {% for message  in messages  %}
                                <p class="alert alert-danger">{{ message  }}</p>
                        {% endfor %}
                        <br>
                        <div class="row justify-content-center">
                            <input type="submit" class="btn btn-primary" value="Upload">
                        </div>
                    </form>
                </div>
            </div>

            <hr class="mb-4">

            </div>
          </div>
    </div>


    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    </script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js">
    </script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js">
    </script>

</body>
</html>