{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vehicle</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

</head>
<body>
    <div class="card">
      <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
        Vehicle {{ vehicles.0.plate }}
      </h3>
      <div class="card-body">
        <div id="table" class="table-editable">

          <span class="table-add float-left mb-3 mr-2">
              <a href="/home" class="btn btn-primary">Home</a>
          </span>

          <br>
          <br>
          <br>

          <table class="table table-bordered table-responsive table-striped text-center">
            <thead>
              <tr>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Actions</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Plate</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Registered Company Name</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Owner Name</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Make</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Model</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Color</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Status</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Rent</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Notes</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">LOGBOOK First Date of Registration</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">PCO Expiration Date</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">MOT Expiration Date</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Road Tax Expiration Date</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Cylinder Capacity</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Fuel Type</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Year</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Mileage</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Value</th>
              </tr>
            </thead>
            <tbody id="myTable">
                {% for vehicle in vehicles %}
                    <tr>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">
                            <a href="{% url 'edit_vehicle' vehicle.id %}" class="btn-sm btn-success">Edit</a>
                        </td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ vehicle.plate }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ vehicle.registered_company_name }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ vehicle.owner_name }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ vehicle.make }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ vehicle.model }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ vehicle.color }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ vehicle.status }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ vehicle.rent }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ vehicle.notes }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ vehicle.LOGBOOK_first_date_of_registration }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ vehicle.pco_expiration_date }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ vehicle.mot_expiration_date }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ vehicle.road_tax_expiration_date }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ vehicle.cylinder_capacity }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ vehicle.fuel_type }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ vehicle.year }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ vehicle.mileage }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ vehicle.value }}</td>
                      </tr>
                {% endfor %}
            </tbody>
            </table>

            <hr class="mb-4">

            <div class="row">
                <div class="col-8 col-lg-8 col-xl-8">
                    <br>
                    <div class="row justify-content-center">
                        <h3>Documents</h3>
                    </div>
                    <br>
                    <table class="table table-bordered table-responsive table-striped text-center">
                    <thead>
                      <tr>
                        <th class="text-center" style="white-space: nowrap;width: 1%;">Name</th>
                        <th class="text-center" style="white-space: nowrap;width: 1%;">Path</th>
                        <th class="text-center" style="white-space: nowrap;width: 1%;">Action</th>
                      </tr>
                    </thead>
                    <tbody id="myTable">
                        {% for document in documents %}
                            <tr>
                                <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ document.file_name }}</td>
                                <td class="pt-3-half" style="white-space: nowrap;width: 1%;"><a href="{% url 'download' document.doc %}">{{ document.doc }}</a></td>
                                <td class="pt-3-half" style="white-space: nowrap;width: 1%;">
                                    <a href="{% url 'delete_vehicleDoc' document.id %}" class="btn-sm btn-danger">Remove</a>
                                </td>
                              </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
                <div class="col-4 col-lg-4 col-xl-4">
                    <form method="POST" enctype ="multipart/form-data">
                        {% csrf_token %}
                        {{ form.vehicle_id.as_hidden }}
                        <input type="text" name="vehicle_id" id="vehicle_id" value="{{ vehicles.0.id }}" hidden required/>

                        <br>
                        <div class="row justify-content-center">
                            <h3>Add new Document</h3>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-6 col-lg-6 col-xl-6">
                                            {{ form.file_name.as_hidden }}
                                            <label class="form-label" for="file_name">File Name:</label>
                                            <input type="text" name="file_name" id="file_name" class="form-control" required/>
                            </div>

                            <div class="col-6 col-lg-6 col-xl-6">
                                {{ form.doc.as_hidden }}
                                <label class="form-label" for="doc">Select File:</label>
                                <input type="file" name="doc" id="doc" class="form-control" required/>
                            </div>
                        </div>
                        {% for message  in messages  %}
                                <p class="alert alert-danger">{{ message  }}</p>
                        {% endfor %}
                        <br>
                        <div class="row justify-content-center">
                            <input type="submit" class="btn btn-primary" value="Upload">
                        </div>
                    </form>
                </div>
            </div>

            <hr class="mb-4">

            <div class="row justify-content-center">
                <h3>Vehicle Rentals</h3>
            </div>
            <br>
          <table id="sortTable" class="table table-bordered table-responsive table-striped text-center">
            <thead>
              <tr>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Driver Name</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Vehicle Plate</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Hire Date</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Return Date</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Deposit</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Balance</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Rent</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Status</th>
                <th class="text-center" style="white-space: nowrap;width: 1%;">Actions</th>
              </tr>
            </thead>
            <tbody id="myTable">
                {% for rental in rentals %}
                    <tr>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;"><a href="{% url 'view_driver' rental.driver_id %}">{{ rental.driver_full_name }}</a></td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ rental.vehicle_plate }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ rental.hire_date }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ rental.return_date }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ rental.deposit }}</td>
                        {% if "-" in rental.balance %}
                            <td class="pt-3-half" style="white-space: nowrap;width: 1%; background-color: lightcoral">{{ rental.balance }}</td>
                        {% else %}
                            <td class="pt-3-half" style="white-space: nowrap;width: 1%; background-color: lightgreen">{{ rental.balance }}</td>
                        {% endif %}
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ rental.rent }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">{{ rental.status }}</td>
                        <td class="pt-3-half" style="white-space: nowrap;width: 1%;">
                            <a href="{% url 'view_rental' rental.id %}" class="btn-sm btn-success">View Details</a>
                            <a href="{% url 'delete_rental' rental.id %}" class="btn-sm btn-danger">Delete</a>
                        </td>
                      </tr>
                {% endfor %}
            </tbody>
            </table>

            </div>
          </div>
    </div>


    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    </script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js">
    </script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js">
    </script>

</body>
</html>